#-----------------------------------------------------------------------------
#
# misc USB rules
# file version 0.4.0
SUBSYSTEM!="usb", GOTO="misc_usb_rules_end"
ENV{DEVTYPE}!="usb_device", GOTO="misc_usb_rules_end"

#EVAL BOARDS
#-----------

# NXHX 90-JTAG
ACTION=="add" \
, ATTRS{idVendor}=="1939" \
, ATTRS{idProduct}=="002c" \
, MODE="664", GROUP="plugdev" \
, RUN+="/sbin/modprobe ftdi-sio" \
, RUN+="/bin/sh -c 'echo 1939 002c > /sys/bus/usb-serial/drivers/ftdi_sio/new_id'"

# NXHX 90-DRIVE
ACTION=="add" \
, ATTRS{idVendor}=="1939" \
, ATTRS{idProduct}=="0031" \
, MODE="664", GROUP="plugdev" \
, RUN+="/sbin/modprobe ftdi-sio" \
, RUN+="/bin/sh -c 'echo 1939 0031 > /sys/bus/usb-serial/drivers/ftdi_sio/new_id'"

# NXHX netrapid 90
ACTION=="add" \
, ATTRS{idVendor}=="1939" \
, ATTRS{idProduct}=="0029" \
, MODE="664", GROUP="plugdev" \
, RUN+="/sbin/modprobe ftdi-sio" \
, RUN+="/bin/sh -c 'echo 1939 0029 > /sys/bus/usb-serial/drivers/ftdi_sio/new_id'"

# NXHX USB-JTAG
ATTRS{idVendor}=="0640", ATTRS{idProduct}=="0028", MODE="664", GROUP="plugdev"


#ACCESSORIES
#-----------
# NXJTAG USB
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0023", MODE="664", GROUP="plugdev"

# NXJTAG-4000-USB
ATTRS{idVendor}=="1939", ATTRS{idProduct}=="0301", MODE="664", GROUP="plugdev"


LABEL="misc_usb_rules_end"

# changelog
# 0.4.0 add entry for NXHX 90-DRIVE
#
# 0.3.0 split files into misc and misc-internal
#
# 0.2.0 split files into netx and misc
#       added rules for netX90 and netrapid